/alpha.png
/arrow.png
/chosen-sprite.png
/chosen-sprite@2x.png
/dark_transparent.png
/hue.png
/iconnhatky.png
/iconnhatkyhover.png
/loader.gif
/loading.gif
/saturation.png
/switch.png
/user.jpg
/white_transparent.png
