/bootstrap-colorpicker.min.js
/bootstrap-datepicker.min.js
/bootstrap-tag.min.js
/bootstrap-timepicker.min.js
/bootstrap.min.js
/bootstrapValidator.js
/bootstrapValidator.min.js
/jquery.dataTables.bootstrap.js
/jquery.dataTables.min.js
/typeahead-bs2.min.js
