<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Emagazine</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link type="text/css" href="css/reset.css" rel="stylesheet">
    <link type="text/css" href="css/popup.css?v=2.5" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/jquery.bxslider.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <link type="text/css" href="css/reponsive.css" rel="stylesheet" />
    <link type="text/css" href="css/getresponse.css" rel="stylesheet" />
    <script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="js/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div class="container-header">
            <div class="header">
                <a href="/">
                    <img class="float_left logo_pc" src="images/logo.png" />
                    <img class="float_left logo_m" src="images/logof.png" />
                </a>
            </div>

            <div class="menu">
                <div class="button_menu">
                    <div id="menu1"></div>
                    <div id="menu2"></div>
                    <div id="menu3"></div>
                </div>
                <ul class="list_menu">
                    <li><a href="index.html" class="active">Giới thiệu chung</a></li>
                    <li><a href="tuyensinh.html">Tuyển sinh & ĐÀO TẠO</a></li>
                    <li><a href="camnang.html">Cẩm nang sinh viên</a></li>
                    <li><a href="chuyennganh.html"  >LIÊN HỆ</a></li>
                </ul>
            </div>

        </div>

        <div class="banner">
            <img src="images/banner.jpg" alt="" width="100%">


            <div class="quote">
                <h2>HỌC TẠI VIỆT NAM <br/>TRÌNH ĐỘ ANH QUỐC!</h2>
                <p>Bệ phóng vững chắc cho sinh viên ngành<br/><b>"Công nghiệp không khói"</b> lập nghiệp khắp thế giới </p>
            </div>


        </div>

        <div class="content-main book_bg">
            <div class="content-about">
                <p class="slogan-title">
                    Trường cao đẳng quốc tế Sài Gòn <i class="line"><span></span></i>
                </p>
                <p>
                    Trường cao đẳng Quốc tế Sài Gòn là trường cao đẳng quốc tế với 100% vốn đầu tư nước ngoài, cung cấp chương trình đào tạo cùng môi trường học chuẩn Anh Quốc từ các trường Đại học danh giá trên thế giới, sẽ là bệ phóng vững chắc cho sinh viên ngành "Công nghiệp không khói" lập nghiệp khắp thế giới.
                </p>
            </div>
            <img src="images/bg1.png" class="bg_1">
        </div>

        <div class="lydo">
            <div class="content-main">
                <div class="content-about">
                    <p class="slogan-title">
                        VÌ SAO 1000 SINH VIÊN CHỌN <br/>TRƯỜNG CAO ĐẲNG QuỐC TẾ SÀI GÒN <i class="line"><span></span></i>
                    </p>
                    <ul class="list_lydo">
                        <li>
                            <img src="images/i1.png" />
                            <span>Chương trình đào tạo 5 sao chuẩn Anh Quốc</span>
                            <div class="popup pop5">
                                <h3>Chương trình đào tạo 5 sao chuẩn Anh Quốc</h3>
                                <p>
                                    Chương trình học thiết kế theo chuẩn Quốc tế ngành Du lịch Nhà hàng Khách sạn với bộ 3 trọng tâm "Kiến Thức - Kỹ Năng - Ngoại Ngữ".
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="images/i2.png" />
                            <span>100% Đội ngũ giảng viên trình độ Thạc Sỹ Quốc tế trở lên</span>
                            <div class="popup pop4">
                                <h3>100% Đội ngũ giảng viên trình độ Thạc Sỹ Quốc tế trở lên</h3>
                                <p>
                                    Là một trong những trường đạt Top 1 Cao đẳng công quốc tế tốt nhất tại Việt Nam, chính vì vậy chất lượng đội ngũ giảng viên luôn được ưu tiên hàng đầu và chỉ được tuyển chọn khi đạt trình độ chuyên môn quốc tế, bề dày kinh nghiệm.
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="images/i3.png" />
                            <span>Môi trường học tập thực tế</span>
                            <div class="popup pop3">
                                <h3>Môi trường học tập thực tế</h3>
                                <p>
                                    Trường cao đẳng quốc tế Sài Gòn một trong những trường đi tiên phong trong phương pháp đào tạo thực nghiệm Du lịch Nhà hàng Khách sạn giúp sinh viên được thực hành - rèn luyện kỹ năng công việc thực tế ngay từ khi ngồi trên ghế nhà trường.
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="images/i4.png" />
                            <span>99% Sinh viên ra trường có việc làm ngay</span>
                            <div class="popup pop2">
                                <h3>99% Sinh viên ra trường có việc làm ngay</h3>
                                <p>
                                    Bằng việc liên kết với nhiều doanh nghiệp lữ hành, khách sạn lớn như khách sạn 5 sao Mường Thanh, khách sạn Crowne Plaza, khách sạn Jw marriott, VietNam Travel,…, giúp sinh viên ngay khi ra trường có việc làm tốt, thu nhập cao.
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="images/i5.png" />
                            <span>Cơ hội du học 30 Trường hàng đầu Châu Âu</span>
                            <div class="popup pop1">
                                <h3>Cơ hội du học 30 Trường hàng đầu Châu Âu</h3>
                                <p>
                                    Với hệ thống liên kết với hơn 30 trường Đại học danh tiếng chuyên ngành Du lịch Nhà hàng Khách sạn tại Châu Âu giúp sinh viên dễ dàng nhận học bổng du học, nâng bước nghề nghiệp tương lai.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="lydo_2">
                    <h3>Chương trình đào tạo<hr/></h3>
                    <ul>
                        <li>Quản trị khách sạn<hr/></li>
                        <li>Quản trị dịch vụ<br/>du lịch & Lữ hành<hr/></li>
                        <li>Quản trị Nhà hàng <br/>& dịch vụ ăn uông<hr/></li>
                    </ul>
                </div>

            </div>
            <img src="images/bg2.jpg" class="bg_2">
        </div>


        <div class="content-info info2">

            <h2 class="slogan-title">
                Tin tuyển sinh trường cao đẳng Quốc Tế Sài Gòn 2018 <i class="line line_new"><span></span></i>
            </h2>

            <div id="tab-alert" class="tuyensinh_content">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a role="tab" href="#cat_admissions" data-toggle="tab" rel="dofollow">Tuyển sinh và đào tạo</a></li>
                    <li class=""><a role="tab" href="#user_admissions" data-toggle="tab" rel="dofollow">Đối tượng và phương thức</a></li>
                    <li class=""><a role="tab" href="#admissions" data-toggle="tab" rel="dofollow">Thời gian và học phí</a></li>
                    <li class=""><a role="tab" href="#profile" data-toggle="tab" rel="dofollow">Hồ sơ xét tuyển</a></li>
                    <li ><a role="tab" href="#send-profile" data-toggle="tab" rel="dofollow">Cách gửi hồ sơ</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content ps-container ps-active-y">
                    <div class="content">
                        <div id="cat_admissions" class="content active">
                            <h3><span class="fa fa-list-ul">&nbsp;</span>&nbsp;Tuyển sinh và đào tạo</h3>
                            <ul>
                                <li><span style="color: #ff0000;"><a style="color: #ff0000;" href="https://caodangyduocphamngocthach.vn/cao-dang-duoc.html" target="_blank" rel="dofollow">Cao đẳng Dược</a></span></li>
                                <li><span style="color: #ff0000;"><a style="color: #ff0000;" href="https://caodangyduocphamngocthach.vn/cao-dang-dieu-duong.html" target="_blank" rel="dofollow">Cao đẳng Điều dưỡng</a></span></li>
                                <li><span style="color: #ff0000;"><a style="color: #ff0000;" href="https://caodangyduocphamngocthach.vn/cao-dang-ho-sinh.html" target="_blank" rel="dofollow">Cao đẳng Hộ sinh</a></span></li>
                                <li><span style="color: #ff0000;"><a style="color: #ff0000;" href="https://caodangyduocphamngocthach.vn/cao-dang-vat-ly-tri-lieu.html" target="_blank" rel="dofollow">Cao đẳng Kỹ thuật Vật lý trị liệu</a></span></li>
                                <li><a href="https://caodangyduocphamngocthach.vn/cao-dang-xet-nghiem.html" target="_blank" rel="dofollow"><span style="color: #ff0000;">Cao đẳng Xét nghiệm y học</span></a></li>
                                <li><span style="color: #ff0000;"><a style="color: #ff0000;" href="https://caodangyduocphamngocthach.vn/lien-thong-cao-dang-y-duoc.html" target="_blank" rel="dofollow">Liên thông cao đẳng y dược</a></span></li>
                                <li><span style="color: #ff0000;"><a style="color: #ff0000;" href="https://caodangyduocphamngocthach.vn/van-bang-2-cao-dang-y-duoc.html" target="_blank" rel="dofollow">Văn bằng 2 cao đẳng y dược</a></span></li>
                            </ul>
                        </div>
                        <div id="user_admissions" class="content">
                            <h3><span class="fa fa-users">&nbsp;</span> Đối tượng và phương thức</h3>
                            <p><strong>Đối tượng:</strong></p>
                            <p>- Học sinh đã tốt nghiệp THPT, bổ túc văn hóa hoặc tương đương&lt;yêu cầu bắt buộc&gt;</p>
                            <p>- Nhà trường sử dụng hình thức xét tuyển những thí sinh đã tốt nghiệp THPT hoặc BTVH và dựa vào kết quả kỳ thi tốt nghiệp THPT không có môn nào dưới 1.0 điểm (không giới hạn năm tốt nghiệp).</p>
                            <p>- Thí sinh phải đạt hạnh kiểm khá năm lớp 12, có đầy đủ sức khỏe để tham gia học tập và không đang trong thời gian thi hành án hoặc truy cứu trách nhiệm hình sự.</p>
                            <p><strong>&nbsp;Phương thức:</strong></p>
                            <p>- Xét tuyển học bạ THPT.</p>
                            <p>- Xét kết quả điểm thi THPT Quốc gia.</p>
                        </div>
                        <div id="admissions" class="content">
                            <h3><span class="fa fa-credit-card">&nbsp;</span> Thời gian và học phí</h3>
                            <p><strong>Thời gian đào tạo</strong>: 03 năm</p>
                            <p><strong>Thời gian đăng ký hồ sơ xét tuyển:</strong></p>
                            <p>- Đối với những thí sinh đã tốt nghiệp THPT từ năm 2017 trở về trước có thể gửi hồ sơ từ ngày 20/4/2018.</p>
                            <p>-&nbsp;Đối với những thí sinh chuẩn bị tham dự kỳ thi THPT Quốc gia năm 2018, sau khi hoàn thành xong kỳ thi và có kết quả có thể gửi hồ sơ đăng ký tới địa chỉ của Nhà trường.&nbsp;</p>
                            <p><em>Nhà trường nhận hồ sơ vào tất cả các ngày trong tuần thừ thứ 2 đến chủ nhật</em></p>
                            <p><em>Hạn cuối cùng nhận hồ sơ là ngày 15/12/2018</em></p>
                            <p><strong>Học phí:</strong></p>
                            <p>- Học phí đào tạo: 800.000 VNĐ/ tháng&lt;áp dụng cho các cơ sở đào tạo trên toàn quốc&gt; Thí sinh sẽ phải trải qua thời gian đào tạo trong vòng 3 năm, sau khi kết thúc thời gian đào tạo thí sinh sẽ được cấp bằng&nbsp;Cao Đẳng Y Dược&nbsp;chính quy theo đúng chuẩn của Bộ Lao động TB&amp;XH.</p>
                        </div>
                        <div id="profile" class="content">
                            <h3><span class="fa fa-file">&nbsp;</span> Hồ sơ xét tuyển</h3>
                            <ul>
                                <li>1.&nbsp;Phiếu đăng ký tuyển sinh Cao đẳng năm 2018 theo quy định của trường</li>
                                <li>2.&nbsp;Bằng tốt nghiệp THPT bản sao có công chứng (áp dụng với thí sinh đã tốt nghiệp trước năm 2018)</li>
                                <li>3.&nbsp;Học bạ trung học phổ thông có công chứng</li>
                                <li>4.&nbsp;Giấy chứng nhận tốt nghiệp trung học phổ thông tạm thời (đối với thí sinh tốt nghiệp năm 2018)</li>
                                <li>5.&nbsp;01 Bản sao giấy khai sinh có xác nhận của chính quyền địa phương nơi thí sinh cư trú</li>
                                <li>6.&nbsp;01 Bản sao chứng minh thư nhân dân có công chứng</li>
                                <li>7.&nbsp;4 Ảnh 3×4 ghi thông tin thí sinh bao gồm: họ và tên, địa chỉ, số điện thoại liên lạc ở mặt sau ảnh</li>
                                <li>8.&nbsp;01 Bộ hồ sơ học sinh sinh viên trong đó có 2 sơ yếu lý lịch, điền đầy đủ thông tin và xin dấu xác nhận cơ quan địa phương</li>
                                <li>9.&nbsp;Phong bì dán sẵn tem, ghi rõ họ tên, địa chỉ, số điện thoại của thí sinh để nhà trường liên hệ khi cần</li>
                                <li>10.&nbsp;Các loại giấy tờ chứng minh đối tượng ưu tiên khác (nếu có)</li>
                            </ul>
                        </div>
                        <div id="send-profile" class="content">
                            <h3><span class="fa fa-paperclip">&nbsp;</span> Cách thức gửi hồ sơ</h3>
                            <ul>
                                <li>Cách 1: Đăng ký nhập học trực tuyến online tại website:&nbsp;<a href="https://caodangyduocphamngocthach.vn" rel="dofollow">caodangyduocphamngocthach.vn</a></li>
                                <li>Cách 2: Nộp hồ sơ trực tiếp tại Văn phòng tuyển sinh&nbsp;<strong>Trường Cao đẳng Quốc Tế Sài Gòn</strong></li>
                                <li>Cách 3: Chuyển hồ sơ đăng ký xét tuyển qua đường chuyển phát nhanh đến địa chỉ của nhà trường tại các cơ sở đào tạo sau: &lt;đăng ký chuyển phát nơi gần nhất&gt;</li>
                            </ul>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+ Trụ sở chính:&nbsp;365 Phan Chu Trinh - Quận Hải Châu - Thành Phố Đà Nẵng</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+ Cơ sở đào tạo và tuyển sinh tại Hà Nội:&nbsp;290-292 Tây Sơn - Đống Đa - Hà Nội</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+ Cơ sở đào tạo và tuyển sinh tại TPHCM:&nbsp;12 Trịnh Đình Thảo, phường Hòa Thạch, quận Tân Phú, TP.HCM</p>
                            <p>Để biết thêm thông tin tuyển sinh Hệ đào tạo Chính quy trường Cao đẳng Quốc Tế Sài Gòn, vui lòng liên hệ tư vấn tuyển sinh</p>
                            <p>Hotline TVTS: <span style="color: #ff0000;">096 153 9898 - 093 156 9898</span></p>
                            <p>Hoặc qua địa chỉ email:&nbsp;<a class="seoquake-nofollow" href="mailto:tuyensinhyduochcm@gmail.com" rel="nofollow">tuyensinhyduochcm@gmail.com</a></p>
                            <p>Đăng ký trực tuyến <a href="https://caodangyduocphamngocthach.vn/#register" rel="dofollow"><strong><span style="color: #ff0000;">TẠI ĐÂY</span></strong></a> để được miễn giảm 100% học phí năm đầu!</p>
                        </div>
                    </div>
                    <div class="ps-scrollbar-x-rail" style="width: 922px; display: none; left: 0px; bottom: -1128px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 1130px; height: 500px; display: inherit; right: 2px;"><div class="ps-scrollbar-y" style="top: 347px; height: 153px;"></div></div></div>
            </div>

        </div>



        <div class="content-main">

            <p class="slogan-title">
                Cẩm nang sinh viên <i class="line line_new"><span></span></i>
            </p>

            <div class="box_slide">
                <div class="bx-wrapper" style="max-width: 100%;">
                    <ul id="bxslider1" class="bxslider">
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>




        <div class="contact">
            <div class="contact_logo">
                <a href="/">
                    <img src="images/logof.png" width="100%" alt=""/>
                </a>
            </div>
            <div class="content_footer">
                <p class="address"><span class="fa fa-map-marker" style="margin-left: 2px;"></span> Cơ sở 1: Số 1036 Đường Tân Kỳ Tân Quý, Tổ 129, Khu phố 14, Phường Bình Hưng Hòa, Quận Bình Tân, TP.HCM</p>
                <p class="address"><span class="fa fa-map-marker" style="margin-left: 2px;"></span> Cơ sở 2: Toà nhà : PTT - Lô số 07, Công viên phần mềm Quang Trung, Phường Tân Chánh Hiệp, Quận 12, TP.HCM</p>
                <p><span class="fa fa-globe"></span> Website:</p>
                <p><span class="fa fa-envelope-o"></span> Email: Cdyduocsaigon@gmail.com</p>
                <p><span class="fa fa-phone"></span> Điện thoại:&nbsp;<strong><span class="phone_contact">096.152.9898</span> - <span class="phone_contact">093.851.9898</span></strong></p>

            </div>
        </div>

    </div>
</body>
</html>
