<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Emagazine</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link type="text/css" href="css/reset.css" rel="stylesheet">
    <link type="text/css" href="css/popup.css?v=2.5" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/jquery.bxslider.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <link type="text/css" href="css/reponsive.css" rel="stylesheet" />
    <link type="text/css" href="css/getresponse.css" rel="stylesheet" />
    <script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="js/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div class="container-header">
            <div class="header">
                <a href="/">
                    <img class="float_left logo_pc" src="images/logo.png" />
                    <img class="float_left logo_m" src="images/logof.png" />
                </a>
            </div>

            <div class="menu">
                <div class="button_menu">
                    <div id="menu1"></div>
                    <div id="menu2"></div>
                    <div id="menu3"></div>
                </div>
                <ul class="list_menu">
                    <li><a href="index.html" >Giới thiệu chung</a></li>
                    <li><a href="tuyensinh.html" class="active">Tuyển sinh & ĐÀO TẠO</a></li>
                    <li><a href="camnang.html">Cẩm nang sinh viên</a></li>
                    <li><a href="chuyennganh.html">LIÊN HỆ</a></li>
                </ul>
            </div>

        </div>

        <div class="banner">
            <img src="images/banner3.jpg" alt="" width="100%">
        </div>

        <div class="content-main book_bg">
            <div class="content-about about-tuyensinh">
                <p class="landing-title">
                    NGÀNH CÔNG NGHIỆP KHÔNG KHÓI, <span>TẠI SAO KHÔNG BAO GiỜ HẾT HOT?</span>
                </p>

                <p>
                    Quản trị Du lịch Nhà hàng Khách sạn (Tourism and Hospitality Management) được mệnh danh là ngành công nghiệp không khói còn được xem là ngành học không bao giờ “lỗi thời”?  Mặc cho kinh tế có lạm phát đến mấy thì nhu cầu sử dụng các dịch vụ vui chơi, giải trí và nghỉ dưỡng vẫn luôn là một nhu cầu bồi đắp cuộc sống bồn bề không thiếu của con người! Đây là ngành mà toàn thế giới luôn khan hiếm nguồn nhân lực, điều này mang đến cơ hội tuyệt với cho các bạn trẻ đam mê khám phá nền văn minh nhân loại gắn với đất nước, con người Việt Nam, thế giới và muốn thử sức mình với lĩnh vực du lịch – nhà hàng - khách sạn.
                </p>
                <p>
                    Nhưng để dấn thân vào nghề này không phải chuyện giản đơn! Vậy đâu sẽ là hành trang cho sinh viên ngành công nghiệp không khói tự tin lập nghiệp thế giới?
                </p>
                <p>
                    <b>Trường cao đẳng Quốc tế Sài Gòn là một trong những trường đạt Top 1 Cao đẳng công quốc tế tốt nhất tại Việt Nam khẳng định sẽ là môi trường tốt nhất cho các em:</b>
                </p>
                <ul>
                    <li>
                         Bồi đắp nền tảng kiến thức chuyên môn sâu rộng về Du lịch Nhà hàng Khách sạn
                    </li>
                    <li>
                         Trải nghiệm và từng bước vẹn toàn kỹ năng mềm ngay khi đang ngồi trên ghế nhà trường
                    </li>
                    <li>
                         Thành thạo đa ngôn ngữ
                    </li>
                    <li>
                         Cơ hội du học vững bước nghề nghiệp trên thế giới
                    </li>
                </ul>
                <img src="images/bg1.jpg" class="bg_maybay">
                <h3 class="title_end">Còn bây giờ hãy sẵn sàng chọn cho mình một chuyên ngành mà các em mơ ước nhé!</h3>
            </div>

        </div>



        <div class="content-info bg_daotao">

            <h2 class="slogan-title">
                chuyên ngành đào tạo <i class="line line_new"><span></span></i>
            </h2>

            <div class="content-main">
                <div class="chuyennganh_item">
                    <img src="images/nganh1.png" >
                    <span>Quản trị dịch vụ <br/>Du lịch & Lữ hành</span>
                </div>
                <div class="chuyennganh_item">
                    <img src="images/nganh2.png">
                    <span>Quản trị Khách sạn</span>
                </div>
                <div class="chuyennganh_item">
                    <img src="images/nganh3.png">
                    <span>Quản trị Nhà hàng và Dịch vụ ăn uống</span>
                </div>
            </div>

        </div>



        <div class="content-main">

            <p class="slogan-title">
                Tin tuyển sinh <i class="line line_new"><span></span></i>
            </p>

            <div class="box_slide">

                <div class="news_tuyensinh">
                    <a href="/" title="">
                        <img src="images/demo1.jpg" alt="" />
                        <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                        <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                        <i class="slide_view-more">>>>Xem chi tiết</i>
                    </a>
                </div>
                <div class="news_tuyensinh">
                    <a href="/" title="">
                        <img src="images/demo1.jpg" alt="" />
                        <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                        <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                        <i class="slide_view-more">>>>Xem chi tiết</i>
                    </a>
                </div>
                <div class="news_tuyensinh">
                    <a href="/" title="">
                        <img src="images/demo1.jpg" alt="" />
                        <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                        <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                        <i class="slide_view-more">>>>Xem chi tiết</i>
                    </a>
                </div>
                <div class="news_tuyensinh">
                    <a href="/" title="">
                        <img src="images/demo1.jpg" alt="" />
                        <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                        <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                        <i class="slide_view-more">>>>Xem chi tiết</i>
                    </a>
                </div>
                <div class="news_tuyensinh">
                    <a href="/" title="">
                        <img src="images/demo1.jpg" alt="" />
                        <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                        <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                        <i class="slide_view-more">>>>Xem chi tiết</i>
                    </a>
                </div>
                <div class="news_tuyensinh">
                    <a href="/" title="">
                        <img src="images/demo1.jpg" alt="" />
                        <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                        <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                        <i class="slide_view-more">>>>Xem chi tiết</i>
                    </a>
                </div>

            </div>

        </div>


<hr/>
        <div class="content-main">

            <p class="slogan-title">
                Cẩm nang sinh viên <i class="line line_new"><span></span></i>
            </p>

            <div class="box_slide">
                <div class="bx-wrapper" style="max-width: 100%;">
                    <ul id="bxslider1" class="bxslider">
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                        <li class="slide_items_news">
                            <a href="/" title="">
                                <img src="images/demo1.jpg" alt="" />
                                <b class="slide_title">Những điều chỉnh mới nhất về kỳ thi THPT 2018</b>
                                <span class="slide_desc">Những điều chỉnh mới nhất về kỳ thi Những điều chỉnh mới nhất về kỳ thi....</span>
                                <i class="slide_view-more">Xem chi tiết</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>




        <div class="contact">
            <div class="contact_logo">
                <a href="/">
                    <img src="images/logof.png" width="100%" alt=""/>
                </a>
            </div>
            <div class="content_footer">
                <p class="address"><span class="fa fa-map-marker" style="margin-left: 2px;"></span> Cơ sở 1: Số 1036 Đường Tân Kỳ Tân Quý, Tổ 129, Khu phố 14, Phường Bình Hưng Hòa, Quận Bình Tân, TP.HCM</p>
                <p class="address"><span class="fa fa-map-marker" style="margin-left: 2px;"></span> Cơ sở 2: Toà nhà : PTT - Lô số 07, Công viên phần mềm Quang Trung, Phường Tân Chánh Hiệp, Quận 12, TP.HCM</p>
                <p><span class="fa fa-globe"></span> Website:</p>
                <p><span class="fa fa-envelope-o"></span> Email: Cdyduocsaigon@gmail.com</p>
                <p><span class="fa fa-phone"></span> Điện thoại:&nbsp;<strong><span class="phone_contact">096.152.9898</span> - <span class="phone_contact">093.851.9898</span></strong></p>

            </div>
        </div>

    </div>
</body>
</html>
